.challenge {
  min-height: 462px;
  margin-bottom: -223px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 462px;
  background-color: @blue-darken;
}

.challenge__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 233px;
  margin: 0 auto;
  color: @white;
}

@media (min-width: @tablet-width) {
  .challenge {
    min-height: 729px;
    margin-bottom: -288px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat @blue-darken;
    background-size: 1200px 729px;
  }

  .challenge__text {
    font-size: 50px;
    line-height: 60px;
    width: 480px;
    padding-top: 180px;
    padding-bottom: 300px;
  }
}

@media (min-width: @desktop-width) {
  .challenge {
    min-height: 853px;
    margin-bottom: -458px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat @blue-darken;
    background-size: 2560px 853px;
  }

  .challenge__text {
    width: 750px;
    padding-top: 173px;
    padding-bottom: 470px;
  }
}
