.comment {
  text-align: left;
  background-color: @gray-light;
}

.comment__photo {
  display: block;
  width: 280px;
  height: auto;

  &--panorama {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 137px;
    margin-right: auto;
    margin-left: auto;
  }
}

.comment__panorama-label {
  display: block;
  position: relative;
  width: 140px;
  height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6px;
  margin-bottom: 101px;
  margin-left: auto;
  color: @white;
  background-color: @pink;
}

.comment__wrapper {
  padding: 17px 12px 17px 17px;
}

.comment__username {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: @blue-dark;
}

.comment__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  color: @blue-dark;
}

.comment__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  color: @blue-dark;
}

.comment__like-text,
.comment__like-counter {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: @pink;
}

.comment__button {
  padding: 0;
  border: none;
  margin-right: 15px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.comment__like-image path {
  fill: @pink;
}

@media (min-width: @tablet-width) {
  .comment {
    width: 300px;
  }

  .comment__photo {
    width: 300px;

    &--panorama {
      width: auto;
      height: 509px;
    }
  }

  .comment__panorama-label {
    margin-top: 57px;
    margin-bottom: 416px;
  }

  .comment__wrapper {
    display: flex;
    flex-direction: column;
    height: 150px;  /* хак для IE */
    min-height: 155px;
    position: relative;
    padding: 23px 27px;

    &--first {
      min-height: 121px;
    }
  }

  .comment__text {
    margin-bottom: auto;
  }

  .comment__like {
    display: flex;

    &--first {
      position: absolute;
      top: 25px;
      right: 25px;
      min-width: 124px;
    }
  }

  .comment__like-text {
    margin-right: 3px;
  }

  .comment__button {
    order: 3;
    margin-right: 5px;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .comment__photo {
    &--panorama {
      height: 506px;
    }
  }

  .comment__panorama-label {
    margin-top: 53px;
    margin-bottom: 417px;
  }

  .comment__wrapper {
    &--first {
      min-height: 96px;
    }
  }

  .comment__like {
    &--first {
      right: 28px;
    }
  }
}
