.copyright {
  margin-top: auto;
  margin-bottom: auto;
}

.copyright__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @blue-dark;
}

.copyright__link {
  margin-left: 14px;
}

.copyright__image {
  vertical-align: middle;
  fill: @pink;

  &:hover {
    fill: @blue-dark;
  }

  &:active {
    fill: @blue-dark-opacity01;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
