.main-nav__list {
  background-color: @blue-dark;
}

.main-nav__logo-link {
  position: absolute;
  top: 22px;
  left: 20px;
  display: block;
  width: 74px;
  height: 23px;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 22px;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.main-nav--opened .main-nav__toggle-image--burger {
  display: none;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 22px;
  display: block;
  width: 50px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.main-nav--closed .main-nav__toggle-image--cross {
  display: none;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav__toggle-image {
  fill: @white;

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: @pink-opacity03;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__logo-link {
    top: 45px;
    width: 74px;
    height: 23px;
  }

  .main-nav__toggle {
    top: 45px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
  }

  .main-nav__list {
    position: inherit;
    background-color: transparent;
  }

  .main-nav__logo-link {
    position: inherit;
    width: 74px;
    height: 23px;
  }

  .main-nav .main-nav__toggle {
    display: none;
  }
}
