.map {
  position: relative;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.map__wrapper {
  position: relative;
  width: @mobile-width;
  height: 200px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
}

.map__image {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: auto;
}

.map__interactive {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: @mobile-width;
  height: 200px;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .map__wrapper,
  .map__interactive {
    width: @tablet-width;
    height: 500px;
  }

  .map__image {
    bottom: -110px;
  }
}

@media (min-width: @desktop-width) {
  .map__wrapper,
  .map__interactive {
    width: @desktop-width;
    height: 490px;
  }

  .map__image {
    bottom: -192px;
  }
}
