.map {
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  /*
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
  */
}

.map__wrapper {
  height: 200px;
  overflow: hidden;
}

.map__image {
  position: relative;
  bottom: 56%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .map__wrapper {
    height: 375px;
  }
}

@media (min-width: @desktop-width) {
  .map__wrapper {
    height: 500px;
  }
}
