.photoeditor__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @blue-dark;
  background-color: @white;
}

.photoeditor__tools {
  border-bottom: 1px solid @gray-dark;
}

.photoeditor__button {
  display: block;
  width: 280px;
  height: 55px;
  font-size: 18px;
  font-weight: 700;
  color: @pink;
  background-color: @gray-light;
  border: 3px solid @pink;
  border-radius: 27px;

  &:hover {
    color: @white;
    background-color: @pink;
  }

  &:active {
    outline: none;
    color: @white-opacity03;
    background-color: @pink;
  }

  &--reset {
    color: @gray-dark;
    background-color: @gray-light;
    border-color: @gray-dark;

    &:hover {
      color: @gray-darken;
      background-color: @gray-light;
      border-color: @gray-darken;
    }

    &:active {
      color: @white-opacity03;
      background-color: @gray-darken;
      border-color: @gray-darken;
    }
  }
}
