.prices {
  overflow: hidden;
  height: 470px;
}

.prices__table {
  display: flex;
  justify-content: center;
  table-layout: fixed;
  line-height: 30px;
  padding-top: 90px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.prices__head {
  min-width: 275px;
  text-align: center;
  color: @white;
  background-color: @blue-dark;
}

.prices__head:first-child,
.prices__data:first-child {
  display: none;
}

.prices__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 88px;
}

.prices__price {
  font-size: 24px;
  font-weight: 300;
}

.prices__row {
  font-size: 14px;
  font-weight: 400;
  height: 60px;
  color: @blue-dark;
  background-color: @white;
}

.prices__row:first-child {
  height: 95px;
}

.prices__data {
  text-align: left;
  padding-right: 20px;
}

.prices__text-mobile {
  padding-left: 20px;
}

.prices__toggles {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .prices {
    height: 375px;
  }

  .prices__table {
    display: table;
    width: @tablet-width;
    padding: 90px 20px 0 20px;
    left: 0;
    transform: none;
  }

  .prices__head:first-child,
  .prices__data:first-child {
    display: table-cell;
  }

  .prices__name {
    font-size: 16px;
    padding: 0 35px;
  }

  .prices__price {
    font-size: 18px;
  }

  .prices__row {
    height: 45px;
  }

  .prices__row:first-child {
    height: 75px;
  }

  .prices__data {
    text-align: left;
    padding-right: 0;
    padding-left: 20px;
  }

  .prices__data:nth-child(n + 2) {
    text-align: center;
  }

  .prices__head:first-child {
    background-color: @gray-light;
  }

  .prices__text-mobile,
  .prices__wrapper .prices__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .prices {
    height: 525px;
  }

  .prices__table {
    width: @desktop-width;
    padding: 150px 10px 0 10px;
  }

  .prices__name {
    font-size: 18px;
    padding: 0 66px;
  }

  .prices__price {
    font-size: 24px;
  }

  .prices__row {
    font-size: 18px;
    height: 60px;
  }

  .prices__row:first-child {
    height: 95px;
  }

  .prices__data {
    padding-left: 25px;
  }
}
