.prices {
  overflow: hidden;
  min-height: 470px;
}

.prices__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  table-layout: fixed;
  line-height: 30px;
  padding-top: 89px;
  padding-bottom: 40px;
  margin: 0 auto;
  border-collapse: collapse;
}

.prices__head {
  min-width: 275px;
  text-align: center;
  border: 2px solid @gray-light;
  color: @white;
  background-color: @blue-dark;
}

.prices__head:first-child {
  display: none;
  border: none;
}

.prices__data:first-child {
  display: none;
}

.prices__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 88px;
}

.prices__price {
  font-size: 24px;
  font-weight: 300;
}

.prices__row {
  font-size: 14px;
  font-weight: 400;
  height: 58px;
  color: @blue-dark;
  background-color: @white;
}

.prices__row:first-child {
  height: 98px;
}

.prices__data {
  text-align: left;
  padding-right: 20px;
  border: 2px solid @gray-lighter;
}

.prices__text-mobile {
  text-transform: uppercase;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .prices {
    min-height: 375px;
  }

  .prices__table {
    display: table;
    width: @tablet-width;
    padding: 88px 20px 0 20px;
    left: 0;
    transform: none;
  }

  .prices__head:first-child,
  .prices__data:first-child {
    display: table-cell;
  }

  .prices__name {
    font-size: 16px;
    padding: 0 35px;
  }

  .prices__price {
    font-size: 18px;
  }

  .prices__row {
    height: 45px;
  }

  .prices__row:first-child {
    height: 75px;
  }

  .prices__data {
    text-align: left;
    padding-right: 0;
    padding-left: 15px;
  }

  .prices__data:nth-child(n + 2) {
    text-align: center;
  }

  .prices__head:first-child {
    background-color: @gray-light;
  }

  .prices__text-mobile,
  .prices__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .prices {
    min-height: 515px;
  }

  .prices__table {
    width: @desktop-width;
    padding: 140px 10px 0 10px;
  }

  .prices__name {
    font-size: 18px;
    padding: 0 66px;
  }

  .prices__price {
    font-size: 24px;
  }

  .prices__row {
    font-size: 18px;
    height: 59px;
  }

  .prices__row:first-child {
    height: 95px;
  }

  .prices__data {
    padding-left: 20px;
  }
}
