.reviews {
  text-align: center;
  margin-top: -43px;
  background-color: @white;
}

.reviews__wrapper {
  padding-top: 42px;
  padding-bottom: 42px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.reviews__author-name {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 14px;
  color: @black;
}

.reviews__author-details {
  display: none;
}

.reviews__text {
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 14px;
}

.reviews__list {
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding-top: 10px;
    margin-top: 0;
  }

  .reviews__wrapper {
    padding-top: 62px;
    padding-bottom: 15px;
  }

  .reviews__author-name {
    font-size: 20px;
    margin-bottom: 0;
    order: 1;
  }

  .reviews__author-details {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    line-height: 35px;
    order: 2;
  }

  .reviews__text {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .reviews__list {
    margin-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    min-height: 420px;
    padding: 0;
    background-image: url("../img/bg-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 73px;
  }

  .reviews__wrapper {
    padding-top: 190px;
    padding-bottom: 20px;
  }

  .reviews__list {
    width: 695px;
    margin: 0 auto;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-details {
    font-size: 18px;
  }

  .reviews__text {
    margin-top: 0;
  }

  .reviews__toggles {
    display: none;
  }
}
